body > header {
  background-color: #ca962d;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  width: 100%;
  height: 480px;
  padding-top: 40px;
  float: left;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
  color: white;
}
