section {
  width: 100%;
}

button {
  background-color: #4056a1;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  font-family: "Bungee";
}

textarea {
  width: 100%;
  background: transparent;
  border-style: none none solid none;
  border-width: medium;
}

label {
  font-family: "Source Sans Pro";
  font-weight: bold;
  display: flex;
}
