.new-tweet {
  width: 100%;
  margin: 2rem 0;
}

button {
  background-color: #4056a1;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  font-family: "Bungee";
}

textarea {
  width: 100%;
  background: transparent;
  border-style: none none solid none;
  border-width: medium;
}

label {
  font-family: "Source Sans Pro";
  font-weight: bold;
}

#error {
  border-style: solid;
  border-radius: 10px;
  color: red;
  display: none;
  align-self: center;
  padding: 1rem;
  margin: 1rem;
}

#error > div {
  display: flex;
  align-items: center;
}
